* { 
	box-sizing: border-box;
}

body {

    font-family: "Quicksand", sans-serif;
    letter-spacing: 1.5px;
    text-rendering: optimizeLegibility;

}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
